<?xml version="1.0" encoding="utf-8"?>
<manifest package="social.entourage.android"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <permission
        android:name="${applicationId}.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <!-- <uses-permission android:name="com.octo.entourage.permission.MAPS_RECEIVE" /> -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:name=".EntourageApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/map_api_key"/>

        <activity
            android:name=".DrawerActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.login.LoginActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".guide.poi.ReadPoiActivity"
            android:label="@string/activity_read_poi_title"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialogActivityTheme">
        </activity>
        <activity
            android:name=".map.confirmation.ConfirmationActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialogThemeNoTitle">
        </activity>
        <activity
            android:name=".map.encounter.ReadEncounterActivity"
            android:label="@string/activity_read_encounter_title"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".map.encounter.CreateEncounterActivity"
            android:label="@string/activity_create_encounter_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".message.MessageActivity"
            android:label="@string/activity_display_message_title"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".map.tour.join.received.TourJoinRequestReceivedActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".map.tour.TourService"
            android:exported="false"/>
        <service
            android:name=".api.tape.EncounterTapeService"
            android:exported="false"/>
        <service
            android:name=".message.push.RegisterGCMService"
            android:exported="false"/>
        <service
            android:name=".message.push.PushNotificationService"
            android:exported="false"/>

        <!-- Receivers -->
        <receiver android:name=".message.push.GcmBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".api.tape.EncounterTapeService$ConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- [START instanceId_listener] -->
        <service
            android:name=".message.push.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->

    </application>

</manifest>
