<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" />

    <permission
        android:name="${applicationId}.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- uses-permission android:name="android.permission.BLUETOOTH"/ -->

    <!-- Devices running Android 12L (API level 32) or lower  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- To handle the reselection within the app on devices running Android 14
         or higher if your app targets Android 14 (API level 34) or higher.  -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <!-- uses-permission android:name="android.permission.RECORD_AUDIO"/ -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:name=".EntourageApplication"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:localeConfig="@xml/locales_config"
        >


        <receiver android:name=".notifications.NotificationActionReceiver"
            android:exported="true"/>

        <activity
            android:name=".notifications.InAppNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.onboard.OnboardingStartActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".onboarding.onboard.OnboardingEndActivity"
            android:exported="false" />
        <activity
            android:name=".welcome.WelcomeOneActivity"
            android:exported="false" />
        <activity android:name=".enhanced_onboarding.EnhancedOnboarding"
            android:exported="false"/>
        <activity android:name=".notifications.NotificationDemandActivity"
            android:exported="false"/>
        <activity
            android:name=".welcome.WelcomeTwoActivity"
            android:exported="false" />
        <activity android:name="social.entourage.android.language.LanguageActivitySettings"/>
        <activity android:name="social.entourage.android.profile.settings.SettingsNotificationsActivity"/>
        <activity android:name="social.entourage.android.profile.editProfile.EditPasswordActivity"/>
        <activity android:name="social.entourage.android.profile.settings.HelpAboutActivity"/>
        <activity android:name="social.entourage.android.profile.activities_settings.UnblockUsersActivity"/>
        <activity
            android:name=".welcome.WelcomeThreeActivity"
            android:exported="false" />
        <activity
            android:name=".welcome.WelcomeFourActivity"
            android:exported="false" />
        <activity
            android:name=".welcome.WelcomeTestActivity"
            android:exported="false" />
        <activity android:name=".members.MembersActivity"
            android:exported="false" />
        <activity android:name=".survey.CreateSurveyActivity"
            android:exported="false"/>
        <activity android:name=".survey.ResponseSurveyActivity"
            android:exported="false"/>
        <activity
            android:name=".home.pedago.PedagoDetailActivity"
            android:exported="false" />
        <activity android:name=".discussions.WebViewActivityForTest">
        </activity>
        <activity
            android:name=".user.languechoose.ActivityChooseLanguage"
            android:exported="false" />
        <activity
            android:name=".discussions.DetailConversationActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".actions.ActionLocationFilterActivity"
            android:exported="false" />
        <activity
            android:name=".actions.ActionCategoriesFiltersActivity"
            android:exported="false" />
        <activity
            android:name=".actions.create.CreateActionActivity"
            android:exported="false" />
        <activity
            android:name=".actions.list.me.MyActionsListActivity"
            android:exported="false" />
        <activity
            android:name=".actions.detail.ActionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.partner.PartnerDetailActivity"
            android:exported="false" />
        <activity
            android:name=".events.EventFiltersActivity"
            android:exported="false" />
        <activity
            android:name=".events.EditRecurrenceActivity"
            android:exported="false" />
        <activity
            android:name=".events.details.feed.CreatePostEventActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".events.details.feed.EventCommentActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".groups.details.feed.GroupCommentActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".events.details.feed.EventFeedActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".tools.image_viewer.ImageDialogActivity"
            android:exported="false" />
        <activity
            android:name=".events.create.CreateEventActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".welcome.WelcomeFiveActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.UserProfileActivity"
            android:exported="false" />
        <activity android:name=".profile.editProfile.EditPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".home.pedago.PedagoListActivity"
            android:exported="false" />
        <activity
            android:name=".comment.CommentActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".groups.details.rules.GroupRulesActivity"
            android:exported="false" />
        <activity
            android:name=".groups.details.feed.GroupFeedActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".groups.edit.EditGroupActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            />
        <activity
            android:name=".groups.create.CreateGroupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="social.entourage.android.posts.CreatePostActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".groups.details.feed.CreatePostGroupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".onboarding.login.LoginChangePhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".guide.GDSMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main_filter.MainFilterActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <!--
         <receiver android:name=".widgets.WidgetMainProvider" android:exported="true">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
             </intent-filter>

             <meta-data
                 android:name="android.appwidget.provider"
                 android:resource="@xml/widget_main_info" />
         </receiver>
        -->

         <activity
             android:name=".MainActivity"
             android:exported="true"
             android:launchMode="singleInstance"
             android:screenOrientation="portrait">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
             <intent-filter android:autoVerify="true" tools:targetApi="m">
                 <action android:name="android.intent.action.VIEW" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.BROWSABLE" />
                 <data android:scheme="https"/>
                 <data android:host="${deepLinksHostName}"/>
                 <data android:pathPrefix="/app/"/>
                 <data android:pathPrefix="/deeplink/" />
                 <data android:pathPrefix="/entourages/" />
             </intent-filter>
             <intent-filter android:autoVerify="true" tools:targetApi="m">
                 <action android:name="android.intent.action.VIEW" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.BROWSABLE" />
                 <data android:scheme="http"/>
                 <data android:host="${deepLinksHostName}"/>
                 <data android:pathPrefix="/app/"/>
                 <data android:pathPrefix="/deeplink/" />
                 <data android:pathPrefix="/entourages/" />
             </intent-filter>
             <intent-filter>
                 <action android:name="android.intent.action.VIEW" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.BROWSABLE" />
                 <data android:scheme="${deepLinksScheme}" />
             </intent-filter>        </activity>

         <activity
             android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
             android:theme="@style/EntourageOSSLicenses.Theme" />
         <activity
             android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
             android:theme="@style/EntourageOSSLicenses.Theme" />
         <activity android:name=".involvement.ShareActivity" />
         <activity android:name=".involvement.RateActivity" />
         <activity
             android:name=".profile.ProfileActivity"
             android:windowSoftInputMode="adjustPan" />
         <activity
             android:name=".onboarding.pre_onboarding.PreOnboardingChoiceActivity"
             android:screenOrientation="portrait" />
         <activity
             android:name=".onboarding.pre_onboarding.PreOnboardingStartActivity"
             android:screenOrientation="portrait" />
         <activity
             android:name=".onboarding.pre_onboarding.PreOnboardingLanguage"
             android:screenOrientation="portrait" />
         <activity
             android:name=".onboarding.login.LoginActivity"
             android:screenOrientation="portrait"
             android:windowSoftInputMode="adjustPan" />
         <activity
             android:name=".profile.ProfileFullActivity"
             android:windowSoftInputMode="adjustPan" />

         <activity
             android:name=".profile.EditProfileActivity"
             android:windowSoftInputMode="adjustPan" />

         <service
             android:name=".service.EntService"
             android:exported="false" />
         <service
             android:name=".notifications.EntourageFirebaseMessagingService"
             android:exported="false">
             <intent-filter>
                 <action android:name="com.google.firebase.MESSAGING_EVENT" />
             </intent-filter>
         </service>

         <provider
             android:name="androidx.core.content.FileProvider"
             android:authorities="${applicationId}.fileprovider"
             android:exported="false"
             android:grantUriPermissions="true">
             <meta-data
                 android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/provider_paths" />
         </provider>


         <meta-data
             android:name="com.google.firebase.messaging.default_notification_icon"
             android:resource="@drawable/ic_entourage_logo_one_color" />
         <meta-data
             android:name="com.google.firebase.messaging.default_notification_color"
             android:resource="@color/accent" />
         <meta-data
             android:name="com.google.firebase.messaging.default_notification_channel_id"
             android:value="@string/default_notifiation_channel" />

         <uses-library
             android:name="org.apache.http.legacy"
             android:required="false" />
         <uses-library
             android:name="android.test.runner"
             android:required="false" />
     </application>

 </manifest>